body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	background: #f5f5f7;
	color: #222127;
	margin: 0 auto;
	max-width: 800px;
	padding: 0 5%;
}

h1 {
	font-size: 3em;
	line-height: 1em;
	font-weight: lighter;
	text-align: center;
	margin: 5% 0;
}
h5 {
	font-weight: bold;
}
input:focus,input:active {
	outline: none;
}
.search-container {
	width: 100%;
	height: 50px;
	position: relative;
	float: left;
}
.search-autocomplete {
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 100;
	width: calc(100% - 2px);
	line-height: 20px;
	background: #fff;
	max-height: 200px;
	overflow: auto;
	border: 1px solid #999;
	border-top: 0;
	opacity: 0;
	animation: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.search-autocomplete ul {
	padding: 0;
	margin: 0;
}
.search-autocomplete li {
	margin: 0;
	padding: 5px;
}
.search-autocomplete li:hover,
.search-autocomplete li:active {
	background: #eee;
}
.search-autocomplete li img {
	height: 20px;
	vertical-align: middle;
	margin-right: 1%;
}
.search-autocomplete li a {
	display: block;
	padding: 0 1%;
	text-decoration: none;
	color: #333;
	font-size: 14px;
	letter-spacing: -1px
}
.search-autocomplete .channel {
	font-size: .8em;
	color: #666;
}
input.search {
	width: 100%;
	font-size: 1.8em;
	line-height: 1em;
	padding: .25em 1.5%;
	height: 50px;
}
button.submit {
	cursor: pointer;
	width: 24%;
	padding: .25em 0;
	float: right;
	height: 50px;
	background: #008000;
	text-shadow: 2px 1px rgba(0,0,0,0.4);
	color: #fff;
	font-weight: bold;
	border: 0;
	animation: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
button.submit:hover,
button.submit:active {
	outline: none;
	border: 0;
	background: #008F00;
}
button.submit[disabled="disabled"] {
	opacity: 0.5;
	cursor: wait;
}
.progress {
	/* display: none; */
	width: 100%;
	height: 50px;
	position: relative;
	top: 2%;
}
.progress-wrap {
	background: #f80;
	overflow: hidden;
	position: relative;
}
.progress-bar {
	background: #e5e5e6;
	left: 0;
	position: absolute;
	top: 0;
}
.status {
	position: absolute;
	z-index: 10;
	margin: 1em 0;
	text-align: center;
	text-shadow: -1px -1px 10px rgba(0,0,0,0.3);
	color: #fff;
	width: 100%;
}
.status a {
	text-decoration: underline;
	color: #fff;
}
.conversions {
	margin-top: 40px;
	line-height: 1.5em;
}
.conversions ul {
	margin-bottom: 30px;
}